body {
	padding-top: 60px;
	color: #000;
}
@media print {
	body {
		padding-top: 0;
	}
	.cookiebanner {
		display: none !important;
	}
}
.navbar-brand {
	margin: 0;
}
.navbar-brand a {
	color: #9d9d9d;
}
.site-footer {
	margin-top: 50px;
	padding: 50px 0;
	background: #222;
	color: #9d9d9d;
}
.site-footer a {
	color: #fff;
}
.sidebar.affix {
	position: static;
}
@media screen and (min-width: 992px) {
	.sidebar.affix {
		position: fixed;
	}
	.sidebar.affix {
		left: 0;
		top: 60px;
		bottom: 0;
	}
	.sidebar.affix .sidebar-header {
		height: 40px;
	}
	.sidebar.affix .sidebar-inner {
		position: absolute;
		top: 80px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
		overscroll-behavior: contain;
	}
}
@media print {
	.sidebar {
		position: static !important;
	}
}
.header {
	overflow: hidden;
	page-break-after: avoid;
	break-after: avoid;
}
@media print {
	.header_main, .site-footer {
		padding: 0;
		margin: 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.site-footer {
		page-break-before: always;
		break-before: always;
	}
}
.header__heading, .header__link {
	display: inline-block;
}

.header_main .header__link {
	font-size: 36px;
	margin-left: .5em;
}
@media print {
	.header__link {
		display: none;
	}
}
code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	border-radius: 0;
}
.code-switch {
	cursor: pointer;
}
.code-switch {
	font-size: smaller;
	font-weight: bold;
}
pre {
	max-height: 300px;
	overflow: auto;
}
pre.expanded {
	max-height: none;
}
@media print {
	.code-switch {
		display: none;
	}
	code[class*="language-"], pre[class*="language-"] {
		max-height: none;
		page-break-before: avoid;
		break-before: avoid;
		white-space: pre-wrap !important;
		word-break: break-all !important;
	}
	code[class*="language-"] *, pre[class*="language-"] * {
		color: #000 !important;
		opacity: 1 !important;
	}
	code[class*="language-"] a::after, pre[class*="language-"] a::after {
		content: '';
	}
}
.code,.quote {
	margin-top: 5px;
}
@media print {
	#komentarze {
		display: none;
	}
}
