body {
	padding-top: 60px;
}
.navbar-brand {
	margin: 0;
}
.navbar-brand a {
	color: #9d9d9d;
}
.site-footer {
	margin-top: 50px;
	padding: 50px 0;
	background: #222;
	color: #9d9d9d;
}
.site-footer a {
	color: #fff;
}
.sidebar.affix {
	position: static;
}
@media screen and (min-width: 992px) {
	.sidebar.affix {
		position: fixed;
	}
	.sidebar.affix {
		left: 0;
		top: 60px;
		bottom: 0;
	}
	.sidebar.affix .sidebar-header {
		height: 40px;
	}
	.sidebar.affix .sidebar-inner {
		position: absolute;
		top: 80px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}
}
.header {
	overflow: hidden;
}
.header__heading, .header__link {
	display: inline-block;
}
.header__link {
	opacity: 0;
	transition: opacity .7s ease-in-out;
}
.header:hover .header__link, .header__link:focus {
	opacity: .6;
}
.code-switch {
	cursor: pointer;
}
.code-switch {
	font-size: smaller;
	font-weight: bold;
}
pre {
	max-height: 300px;
	overflow: auto;
}
pre.expanded {
	max-height: 99999px;
}
.code,.quote {
	margin-top: 5px;
}
ul li {
	list-style-image: url(/images/bullet.gif);
}
